body{
    background-color: grey;
}

#container{
    bottom: 50px;
    padding: 82px;
    margin: auto;
    width: 800px;
    height:55px;
    background-color: rgb(103, 235, 63);
    border: 2px solid black;
    position: relative;
}

#buttons{
    margin-bottom: 30px;
}

button{
    border: 2px solid black;
    color: white;
    padding: 40px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 4px;
    cursor: pointer;
    width: 140px;
    height: 50px;
}
    
.button {
   background-color: white;
}

label{
    text-align:left;
    width:150px;
    display:block;
    float:left;
    clear:right;
    font-size:18;
}
