#Main{
    margin: 0 auto;
    width: 800px;
}

#container{
    border: 2px solid black;
    
}

#container2{
    border: 2px solid black;
}

#CheckWord{
    background-color:white; 
    border: 1px solid grey;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#Restart{
    background-color:white; 
    border: 1px solid grey;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.letter{
    height:50px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 3%;
    margin-left: 2.5%;
    padding: 50px;
    box-sizing:border-box;
    display:inline-block;
    border: 2px solid grey;
    background-color:rgb(255, 255, 255);
}
