body{
    background-color: grey;
}

#Main{
    margin: 0 auto;
    width: 800px;
}

#container{
    background-color: rgb(103, 235, 63);
    border: 2px solid black;
}

#container2{
    background-color: white;
    border: 2px solid black;
}

#CheckWord{
    background-color:white; 
    border: 1px solid grey;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#Restart{
    background-color:white; 
    border: 1px solid grey;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.letter{

}